.main-navigation{
    .navbar-collapse{
        .menu-item{
            margin-left: 16px;
            a{
                font-family: 'Lato', sans-serif;
                color: #000;
                font-size: 18px;
            }
        }
    }
}